.gameSquares{
  padding-top: 8px;
}

.container {
  text-align: center;
}


.blackCardPage2{
  float: none;
  background-color: black;
  color:white;
  height: 300px;
  width: 250px;
  border: 1px solid black;
  padding-top: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align:left;
  border-radius: 25px;
  font-size: 25px;

}
.whiteCardPage2{
  height: 200px;
  width: 100px;
  border: 1px solid black;

}

.row {
  margin-left: 5px;
}

.outer{
  position: relative;
}
.inner {
  position: absolute;
}

div.sweet-overlay{
  background-color:rgba( 0, 0, 0, 1);
}
