<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Judge Screen</title>
</head>
<body>
 <div class = "container">
  <h1>Judge Screen</h1>
  <div class="col-sm-12"></div>

  <div class="bordersPage2">
      <div class="col-sm-6 blackCardPage2 animated lightSpeedIn">
          {{currBlackCard.text}}
      </div>


      <table class='table table-hover'>
        <thead>
          <th>Player</th>
        </thead>
        <tbody>
          <tr ng-repeat='group in submittedWhiteCards track by $index'>


            <td class='animated slideInDown' ng-click='judgePicks(card.player)' ng-repeat='card in group track by $index'>{{card.text}}</td>
          </tr>
        </tbody>
      </table>

      <div id="endGame">
        <button class="btn btn-danger">End Game</button>
      </div>


      </div>
</div>





  </div>
</body>
</html>
