<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Player</title>
</head>
<body>
 <div class = "container">
  <h1>Player {{currPlayer}}'s hand</h1>

  <table class='table'>
    <thead>
      <th>Black card Contents</th>
      <th>{{currBlackCard.text}}</th>
    </thead>
  </table>

  <table class='table table-hover table-striped'>
    <thead>
      <th>Card description</th>
    </thead>
    <tbody>
      <!-- <tr></tr> -->
      <tr ng-repeat='whiteCard in players[currPlayer].hand track by $index'>
        <td class ='whiteCard animated fadeIn'>{{whiteCard.text}}</td>

        <td class='whiteCard animated fadeIn'><button class='btn btn-danger' ng-click='submitWhiteCard(whiteCard,$index)'>Select</button></td>
      </tr>
    </tbody>
  </table>

</div>
</body>
</html>
