<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Player</title>
</head>
<body>
 <div class = "container">
  <h1>{{players[currPlayer].name}}'s hand</h1>

  <div class="col-sm-6 blackCardPage2 animated bounceInDown">
      <p ng-bind-html='currBlackCard.text'></p>
  </div>

  <table class='table table-hover table-striped'>
    <thead>
      <th>Card description</th>
    </thead>
    <tbody>
      <!-- <tr></tr> -->
      <tr ng-repeat='whiteCard in players[currPlayer].hand track by $index'>
        <td class ='whiteCard animated fadeIn'><p ng-bind-html='whiteCard.text'></p></td>

        <td class='whiteCard animated fadeIn'><button class='btn btn-danger' ng-click='submitWhiteCard(whiteCard,$index)'>Select</button></td>
      </tr>
    </tbody>
  </table>

</div>
</body>
</html>
